[submodule "contrib/deterministic-build/electrum-xsh-icons"]
	path = contrib/deterministic-build/electrum-xsh-icons
	url = https://github.com/pooler/electrum-xsh-icons
[submodule "contrib/deterministic-build/electrum-xsh-locale"]
	path = contrib/deterministic-build/electrum-xsh-locale
	url = https://github.com/pooler/electrum-xsh-locale
