# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-xsh.desktop

[Desktop Entry]
Comment=Lightweight SHIELD Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-xsh %u"
GenericName[en_US]=SHIELD Wallet
GenericName=SHIELD Wallet
Icon=electrum-xsh
Name[en_US]=Electrum SHIELD Wallet
Name=Electrum SHIELD Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/shield;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-xsh --testnet %u"
Name=Testnet mode
